[Unit]
Description=Nethxeum Full Node
After=network-online.target

[Service]
User=nethxeum
Group=nethxeum
WorkingDirectory=~
StateDirectory=nethxeum
LogsDirectory=nethxeum

Type=simple
ExecStart=/usr/bin/nethxeumd --config-file /etc/nethxeumd.conf --non-interactive
StandardOutput=null
StandardError=null

Restart=always

[Install]
WantedBy=multi-user.target
